body {
    font-family: $mainFontFamily
}

.container {
    width: 100%;
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.section-name {
    font-size: 22px;
    color: #ffffff;
    padding: 10px 5px;
    text-transform: uppercase;
}