// global
$mainFontFamily: 'Lemonada',
cursive;
// menu
$menuLogoFontFamily: 'Oswald',
sans-serif;
$menuBackgroundColor: #ffffff;
$menuFontColor: #000000;
$menuFont-size: 22px;
$menuLogoFontSize: 22px;
$menuHoverFontColor: #d61919;
// driver
$driverBackgroundColor: #000000;
$driverTitleFontFamily: 'Oswald',
sans-serif;
$driverTitleFirstLineFontSize: 32px;
$h1FontSize: 48px;
$driverTitleFontColor: #ffffff;
// about
$aboutBackgroundColor: #000000;
$aboutFontColor: #ffffff;
// gallery
$galleryBackgroundColor: #000000;
$galleryFontColor: #ffffff;