.about {
    height: 100vh;
    background-color: $aboutBackgroundColor;
    padding-top: 100px;

    .container {

        .text {

            p {
                color: $aboutFontColor;
                font-weight: 400;
                font-size: 20px;
                letter-spacing: 1px;
                padding: 30px 0;

                &:first-of-type {
                    padding-top: 0;
                }

                &:last-of-type {
                    padding-bottom: 0;
                }
            }
        }
    }
}