.menu {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: $menuBackgroundColor;
    display: flex;
    justify-content: space-between;

    .logo {
        margin-left: 25px;
        font-family: $menuLogoFontFamily;
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
            color: $menuFontColor;
            font-size: $menuLogoFontSize;
            font-weight: 400;
        }
    }

    nav {

        ul {
            display: flex;

            li {
                @include reset-list;
                padding: 10px 45px 10px 0;

                &:last-child {
                    padding-right: 200px;
                }

                a {
                    text-decoration: none;
                    color: $menuFontColor;
                    font-size: $menuFont-size;
                    font-weight: 600;
                    transition: .2s;

                    &:hover {
                        color: $menuHoverFontColor;
                    }
                }
            }
        }
    }
}