.menu {
    position: fixed;
    z-index: 999;
    width: 100%;
    background-color: $menuBackgroundColor;
    display: flex;
    justify-content: space-between;

    .logo {
        margin-left: 25px;
        font-family: $menuLogoFontFamily;
        display: flex;
        align-items: center;

        a {
            text-decoration: none;
            color: $menuFontColor;
            font-size: $menuLogoFontSize;
            font-weight: 400;
        }
    }

    nav {


        ul {
            display: flex;

            li {
                @include reset-list;
                padding: 10px 45px 10px 0;

                &:last-child {
                    padding-right: 200px;
                }

                a {
                    text-decoration: none;
                    color: $menuFontColor;
                    font-size: $menuFont-size;
                    font-weight: 600;
                    transition: .2s;

                    &:hover {
                        color: $menuHoverFontColor;
                    }
                }
            }
        }
    }

    // .hamburger {
    //     width: 40px;
    //     height: 35px;
    //     border: 0;
    //     border-top: 4px solid #000000;
    //     background: transparent;
    //     position: relative;
    //     transition: 0.2s;
    //     top: 20px;
    //     right: 40px;
    //     display: none;

    //     &::before {
    //         content: "";
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         width: 100%;
    //         border-top: 4px solid #000000;
    //         transform: translateY(10px);
    //     }

    //     &::after {
    //         content: "";
    //         position: absolute;
    //         top: 0;
    //         left: 0;
    //         width: 100%;
    //         border-top: 4px solid #000000;
    //         transform: translateY(25px);

    //     }

    //     &:focus {
    //         transform: rotate(45deg) translateY(5px);
    //         border: none;

    //         &::after {
    //             transform: rotate(-90deg) translateX(-10px);
    //         }
    //     }
    // }
}